<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Test Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="container">
    <h1>Index Test Page</h1>
    <center>
        <h2> Test Case 3</h2>
        <h3> 인증/인가 테스트 OK</h3>
        <h5> [관리자 권한 열람 가능한 페이지] </h5>
        <h6>
            <span th:text="'성명: ' + ${username}"></span></br>
            <span th:text="'권한: ' + ${role}"></span>
        </h6>
        <button onclick="location.href='/'">Index Page</button>
        <button onclick="logout()">Logout</button>
        <button onclick="withdraw()">Withdraw</button>
        <br><br>
        <button class="button" onclick="goPage('/index-test-case1')">Test Page 1 </br> 인증된 사용자 권한</button>
        <button class="button" onclick="goPage('/index-test-case2')">Test Page 2 </br> 회원 전용 권한</button>
        <button class="button" onclick="goPage('/index-test-case3')" disabled>Test Page 3 </br> 관리자 전용 권한</button>
    </center>
</div>
</body>
</html>